<h2>Please call <%= link_to_formatted_phone(Rails.application.credentials.twilio![:phone_number]) %> for service</h2>

<div id="phone_calls">
  <%= render 'phone_calls', phone_calls: @phone_calls %>
</div>
